<div class="row center enroll">
  <div class="container"> 
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= @student.name %></span>
            <p>Email: <%= @student.email %></p>
            <p>Course Enrollments: 
            <% if @student.courses.empty? %>
            None
            <% else %>
            <ul>
              <% @student.courses.each do |c| %>
                <li><%= c.name %></li>
              <% end %>
            </ul>
            <% end %>
            </p>
          </div>
          <div class="card-action">
            <a href="#">Current Enrollments</a>
            
          </div>
        </div>
        <% if current_user == @student %>
        <%= link_to '<i class="material-icons right">create</i>Edit Profile'.html_safe, edit_student_path(@student), class: "waves-effect waves-light btn" %>
        <% end %>
    </div>
  </div>
</div>